{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>Cursos</h1>
<br>

<h2>Buscar Cursos:</h2>

<form action="/AppCoder/buscar/" method="GET">
    <input type="number" name="camada" id="camada">
    <input type="submit" value="Buscar">
</form>

<h2>Lista de Cursos:</h2>
<br>

<table class="table">
    <tr>
        <th>Curso</th>
        <th>Camada</th>
        <th>Número de Día</th>
    </tr>
    {% for c in cursos %}
        <tr>
            <td>{{c.curso}}</td>
            <td>{{c.camada}}</td>
            <td>{{c.numero_dia}}</td>
        </tr>
    {% endfor %}
</table>

</p>
{% endblock %}